@media (max-width:1320px) {
    .news__box {
        display: flex;
    }

    .news__card {
        max-width: 633px;
        width: 100%;
        border-radius: 10px;
        background-position: right;
    }

    .intro__box {
        grid-template-columns: repeat(2, 1fr);
    }

    .intro__card:nth-child(2) {
        order: 1;
        grid-column: span 2;
        width: auto;
    }

    .intro__card {
        gap: 10px;
        padding-top: 50px;
        justify-content: center;
        padding-left: 0;
    }

    .discount {
        padding: 10px 15px;
    }

    .nav {
        position: relative;
        padding: 10px 0;
    }

    .nav__list {
        position: absolute;
        flex-direction: column;
        padding: 30px;
        padding-right: 50px;
        top: 0;
        left: 0;
        background-color: var(--gray);
        transform: translateY(-100%);
        transition: 1s;
        z-index: 99;
    }

    #check:checked+.nav__list {
        transform: translate(0);
        transition: 1s;
    }

    .nav__link {
        color: #fff;
    }

    .nav__logo {
        order: 1;
    }

    .nav__icons {
        order: 2;
    }

    .close img {
        position: absolute;
        top: 20px;
        right: 30px;
    }

    .menu img,
    .close img {
        display: block;

    }
}

@media (max-width:1000px) {
    .footer {
        padding: 50px 0;
    }

    .footer__card {
        gap: 15px;
    }

    .footer__box {
        gap: 60px;
    }

    .news__card {
        padding: 0 30px;
        gap: 20px;
        height: 400px;
    }

    .advice {
        padding: 10px;
        font-size: 17px;
    }

    .news__title {
        font-size: 18px;
    }

    .news__text {
        font-size: 16px;
    }

    .seller__img {
        width: 150px;
        height: 190px;
    }

    .seller__card {
        height: 450px;
    }

    .shop {
        top: 20px;
        right: 50px;
        padding: 8px;
    }

    .like {
        right: 10px;
        padding: 8px;
    }
}

@media (max-width:800px) {
    .footer__logo {
        font-size: 25px;
    }

    .footer__link {
        font-size: 16px;
    }

    .footer__title {
        font-size: 18px;
    }

    .footer__text {
        font-size: 15px;
    }

    .news__card {
        height: 300px;
        align-items: center;
        padding: 10px;
        gap: 10px;
    }

    .advice {
        padding: 6px;
        top: 10px;
        left: 10px;
        font-size: 15px;
    }

    .news__title {
        text-align: center;
        font-size: 16px;
    }

    .news__text {
        font-size: 15px;
        line-height: 17px;
        text-align: center;
    }

    .seller__img {
        width: 100px;
        height: 120px;
    }

    .seller__box {
        gap: 15px;
    }

    .seller__card {
        height: 280px;
        padding: 10px;
        justify-content: flex-end;
    }

    .seller {
        padding: 30px 0;
    }

    .seller__text {
        margin-top: 20px;
    }

    .title {
        font-size: 25px;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }

    #discount {
        top: 20px;
        left: 20px;
        right: auto;
    }

    .intro__box {
        gap: 20px;
    }

    .discount {
        font-size: 15px;
        right: 20px;
        left: auto;
    }

    .intro1 {
        width: 105px;
        height: 130px;
    }

    .intro2 {
        width: 200px;
        height: 150px;
    }

    .intro__textbox {
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .intro__card {
        min-height: 200px;
        padding-top: 0;
    }

    .intro__text {
        font-size: 15px;
    }

    .intro__title {
        font-size: 15px;
        text-align: center;
    }

    .nav__box {
        padding-bottom: 10px;
    }

    .nav__logo {
        font-size: 25px;
    }

    .nav__icons {
        gap: 15px;
    }

    .nav__box {
        border-bottom: var(--gray) 2px solid;
    }

    .menu img {
        width: 18px;
        height: 18px;
    }

    .nav__logo {
        font-size: 20px;
    }

    .nav__icons img {
        width: 15px;
        height: 15px;
    }

    .nav__icons img:nth-child(1) {
        width: 20px;
        height: 10px;
    }

    .nav__list {
        gap: 40px;
    }
}

@media (max-width:600px) {
    .footer__box {
        flex-wrap: wrap;
    }

    .news__text {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        overflow-y: scroll;
    }

    .news__box {
        flex-direction: column;
    }

    .news__card {
        height: 250px;
    }

    .news__title {
        font-size: 15px;
    }

    .seller__text {
        font-size: 25px;
    }

    .seller__box {
        grid-template-columns: repeat(2, 1fr);
    }

    .discount {
        top: 8px;
        right: 8px;
        padding: 5px 10px;
    }

    .intro1 {
        width: 50px;
        height: 60px;
    }

    .intro2 {
        width: 100px;
        height: 80px;
    }

    .intro__text {
        font-size: 12px;
        text-align: center;
    }

    .intro__title {
        font-size: 12px;
    }

    .intro__card {
        gap: 5px;
        padding: 4px;
    }
}

@media (max-width:400px) {
    .footer__logo {
        font-size: 20px;
    }

    .footer__link {
        font-size: 14px;
    }

    .footer__title {
        font-size: 15px;
    }

    .footer__text {
        font-size: 14px;
    }
    
    .title {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .seller__text {
        font-size: 18px;
    }

    .shop {
        top: 10px;
        padding: 5px;
    }

    #discount {
        top: 10px;
        left: 10px;
    }

    .like {
        top: 10px;
        padding: 5px;
    }

    .seller__box {
        display: flex;
        overflow: hidden;
        overflow: scroll;
    }

    .seller {
        padding: 15px 0;
    }

    .seller__card {
        flex-shrink: 0;
        width: 170px;
        box-shadow: none;
    }

    .intro__card {
        flex-direction: column;
        gap: 8px;
    }

    .discount {
        font-size: 13px;
    }

    .intro__card:nth-child(2) {
        height: 180px;
    }

    .nav__icons {
        gap: 6px;
    }

    .nav__logo {
        font-size: 17px;
    }

    .nav__list {
        gap: 3-0px;
    }
}